<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>

          <input type="text">
       
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

<div class="row">
  <div class="input-field col s6">
    <input id="first_name2" type="text" class="validate" [(ngModel)]="searchStr">
    <label class="active" for="first_name2">Find by description</label>
  </div>

  <a id="create_btn" class="waves-effect waves-light btn"  (click)="open(content)" >Add task</a>
</div>


<!-- Modal   routerLink="/create"  *ngIf="isToCreate"-->

<div class="row">
<app-task 
*ngFor="let t of tasks | search:searchStr"
[task] = "t"
></app-task>
</div>